/* Resetting default browser styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}


.info-card {
  background-color: #fff;
  /* max-width: 90vw; */
  width: fit-content;
  height: 3vh;
  padding: 2vh;
  margin: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.5vh;
}


.transaction-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* Transaction card styles */
.transaction-card {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: 95%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: auto;
  margin-left: auto;
  padding: 1vw;
  background-color: #fff;
  border-radius: 1vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.transaction-card .circle.withdraw {
  background-color: red;
  width: 3vh;
  height: 3vh;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2vh;
  margin-left: 2vh;
  border-radius: 50%;
}
.transaction-card .circle.deposit {
  background-color: green;
  width: 3vh;
  height: 3vh;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2vh;
  margin-left: 2vh;
  border-radius: 50%;
}

.transaction-card h1 {
  font-size: 4vw;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.transaction-card h2 {
  font-size: 3vw;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  margin-top: auto;
  margin-bottom: auto;
}
.transaction-card .amount-category {
  margin-left: 4vw;
  display: flex;
}

.transaction-card img {
  width: 4vw;
  font-size: cap;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-left: auto; */
  margin-right: 2vw;
}
.transaction-card img:hover {
  width: 6.5vh;
  margin-right: 2.8vh;
}


/* Form styles */
form {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.transaction-form {
  width: 35vw;
  height: auto;
  margin: 3vh;
  /* padding: 3vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  padding: 3px;
}

.transaction-form>div {
  margin-top: 1vh;
}

.transaction-form > label {
  text-align: left;
}
.transaction-form > .amount {
  display: flex;
  border:2px solid rgb(200, 200, 200);
  border-left: none;
  border-right: none;
  width:100%;
  align-items: center;
}
.transaction-form > .amount >input {
 border: none;
 outline: none;
 margin: 0px;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.transaction-form > .reference {
  display: flex;
  border:2px solid rgb(200, 200, 200);
  border-left: none;
  border-right: none;
  width:100%;
  align-items: center;
}
.transaction-form > .reference >input {
 border: none;
 outline: none;
 margin: 0px;
}